Source: blankon-sessions-divert
Priority: optional
Section: gnome
Maintainer: BlankOn Developers <BlankOn-Dev@googlegroups.com>
Standards-Version: 3.7.0
Build-Depends: debhelper, cdbs, coreutils

Package: gnome-sessions-divert
Architecture: all
Depends: ${shlibs:Depends}
Description: divert gnome-sessions

Package: gnome-wayland-divert
Architecture: all
Depends: ${shlibs:Depends}
Description: divert gnome-wayland

Package: lightdm-xsessions-divert
Architecture: all
Depends: ${shlibs:Depends}
Description: divert lightdm xsession
